<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire de modification de jeu</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Modifier un jeu</h1>
    <!-- <form method="post" action="/api/games/<%= jeu._id %>?_method=PUT" class="form-style"> -->
    <form method="post" action="/api/games/<%= jeu._id.toString() %>?_method=PUT" class="form-style">
      <input type="hidden" name="jeuId" value="<%= jeu._id %>" />
      
      <div>
        <label for="nom">Nom du jeu :</label>
        <input type="text" id="nom" name="nom" value="<%= jeu.nom %>" required />
      </div>
      <div>
        <label for="editeur">Editeur :</label>
        <input type="text" id="editeur" name="editeur" value="<%= jeu.editeur %>" required />
      </div>
      <div>
        <label for="nbJoueurs">Nombre de joueurs :</label>
        <input type="number" id="nbJoueurs" name="nbJoueurs" value="<%= jeu.nbJoueurs %>" required />
      </div>
      <div>
        <label for="duree">Durée (en minutes) :</label>
        <input type="number" id="dureePartie" name="dureePartie" value="<%= jeu.dureePartie %>" required />
      </div>
      <div>
        <label for="cooperatif">Coopératif :</label>
        <select id="cooperatif" name="cooperatif">
          <option value="oui" <% if (jeu.cooperatif === 'oui') { %> selected <% } %>>Oui</option>
          <option value="non" <% if (jeu.cooperatif === 'non') { %> selected <% } %>>Non</option>
        </select>
      </div>
      <div>
        <label for="categorie">Catégorie :</label>
        <select id="categorie" name="categorie">
          <option value="stratégie" <% if (jeu.categorie === 'stratégie') { %> selected <% } %>>Stratégie</option>
          <option value="famille" <% if (jeu.categorie === 'famille') { %> selected <% } %>>Famille</option>
          <option value="partyGame" <% if (jeu.categorie === 'partyGame') { %> selected <% } %>>Party game</option>
          <option value="enfant" <% if (jeu.categorie === 'enfant') { %> selected <% } %>>Enfant</option>
          <option value="coopératif" <% if (jeu.categorie === 'coopératif') { %> selected <% } %>>Coopératif</option>
          <option value="deck-building" <% if (jeu.categorie === 'deck-building') { %> selected <% } %>>Deck building</option>
          <option value="cartes" <% if (jeu.categorie === 'cartes') { %> selected <% } %>>Cartes</option>
          <option value="roll&write" <% if (jeu.categorie === 'roll&write') { %> selected <% } %>>Roll & write</option>
        </select>
    </div>
    <button class="button-style" type="submit">Modifier</button>
  </form>
  <a href="/api/games" class="button-list">Liste des jeux</a>
  <a href="/login/admin" class="button-logout">Déconnexion</a>
</body>
</html>  

