<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Liste des jeux</title>
  </head>
  <body>
    <h1>Liste de jeux en BDD</h1>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Éditeur</th>
          <th>Catégorie</th>
          <th>Supprimer</th>
          <th>Modifier</th>
        </tr>
      </thead>
      <tbody>
        <% jeux.forEach(jeu => { %>
        <tr>
          <td><%= jeu.nom %></td>
          <td><%= jeu.editeur %></td>
          <td><%= jeu.categorie %></td>

          <td>
            <button
              class="button-delete fa fa-trash"
              data-id="<%= jeu._id %>"
            ></button>
          </td>
          <td>
            <button
              class="button-edit fas fa-edit"
              data-id="<%= jeu._id %>"
              data-nom="<%= jeu.nom %>"
              data-editeur="<%= jeu.editeur %>"
              data-categorie="<%= jeu.categorie %>"
            ></button>
          </td>
        </tr>
        <tr>
          <td>
            <% if (jeu.imageURL) { %>
            <img src="<%= jeu.imageURL %>" alt="Image du jeu <%= jeu.nom %>" />
            <% } %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <dialog id="editGameModal">
      <form action="/api/game/edit/edit-game" method="POST">
        <label for="editGameName">Nom du jeu</label>
        <input type="text" id="editGameName" name="editGameName" required />

        <label for="editGamePublisher">Éditeur du jeu</label>
        <input
          type="text"
          id="editGamePublisher"
          name="editGamePublisher"
          required
        />

        <label for="editGameCategory">Catégorie du jeu</label>
        <input
          type="text"
          id="editGameCategory"
          name="editGameCategory"
          required
        />

        <button type="submit">Enregistrer</button>
      </form>
    </dialog>

    <a href="/game/add" class="button-add">Ajouter un jeu</a>
  </body>
</html>

<script>
  const deleteBtns = document.querySelectorAll(".button-delete");
  deleteBtns.forEach((btn) => {
    btn.addEventListener("click", (event) => {
      const jeuId = event.target.dataset.id;
      //console.log("Cliqué sur le bouton de suppression avec l'ID :", jeuId);
      fetch("/api/games/" + jeuId, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => {
          if (response.ok) {
            location.href = "/games";
          } else {
          }
        })
        .catch((error) => {
          console.log("Erreur :", error);
        });
    });
  });

  const editBtns = document.querySelectorAll(".button-edit");
  const editModal = document.querySelector("#editGameModal");
  editBtns.forEach((btn) => {
    btn.addEventListener("click", (event) => {
      const jeuId = event.currentTarget.dataset.id;
      const jeuNom = event.currentTarget.dataset.nom;
      const jeuEditeur = event.currentTarget.dataset.editeur;
      const jeuCategorie = event.currentTarget.dataset.categorie;

      // Ouvrir la modale
      editModal.showModal();

      const editGameName = document.querySelector("#editGameName");
      const editGamePublisher = document.querySelector("#editGamePublisher");
      const editGameCategory = document.querySelector("#editGameCategory");

      editGameName.value = jeuNom;
      editGamePublisher.value = jeuEditeur;
      editGameCategory.value = jeuCategorie;

      const editForm = editModal.querySelector("form");
      editForm.addEventListener("submit", (event) => {
        event.preventDefault();
        // Ferme la modale
        editModal.close();
      });
    });
  });

  // Ferme la modale quand je clique en dehors de celle ci
  window.addEventListener("click", (event) => {
    if (event.target === editModal) {
      editModal.close();
    }
  });
</script>
