<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Liste des jeux</title>
  </head>
  <body>
    <h1>Liste de jeux en BDD</h1>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Éditeur</th>
          <th>Catégorie</th>
          <th>Supprimer</th>
          <th>Modifier</th>
        </tr>
      </thead>
      <tbody>
        <% jeux.forEach(jeu => { %>
        <tr>
          <td><%= jeu.nom %></td>
          <td><%= jeu.editeur %></td>
          <td><%= jeu.categorie %></td>

          <td>
            <button
              class="button-delete fa fa-trash"
              data-id="<%= jeu._id %>"
            ></button>
          </td>
          <td>
            <button
              class="button-edit fas fa-edit"
              data-id="<%= jeu._id %>"
            ></button>
          </td>
        </tr>
        <tr>
          <td>
            <% if (jeu.imageURL) { %>
            <img src="<%= jeu.imageURL %>" alt="Image du jeu <%= jeu.nom %>" />
            <% } %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <a href="/game/add" class="button-add">Ajouter un jeu</a>
  </body>
</html>

<script>
  const deleteBtns = document.querySelectorAll(".button-delete");
  deleteBtns.forEach((btn) => {
    btn.addEventListener("click", (event) => {
      const jeuId = event.target.dataset.id;
      //console.log("Cliqué sur le bouton de suppression avec l'ID :", jeuId);
      fetch("/api/games/" + jeuId, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => {
          if (response.ok) {
            location.href = "/games";
          } else {
          }
        })
        .catch((error) => {
          console.log("Erreur :", error);
        });
    });
  });
</script>
